@import 'reset';

body {
  background: white;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p, ul {
  max-width: 400px;
}

blockquote {
/*
  &:before {
    content: "\201c";
  }
  &:after{
    content: "\201d";
  }
*/
}

.page {

  width: 100%;

  // *************************************************************************
  &.dark {
    display: block;
    float: left;
    background-color: #333;
    padding: 80px 80px 20px 80px;

    .text {
      margin: 0 auto;
      padding: 0 20px;
    }

    h1 {
      color: white;
      font: 400 87px/84px Abril Fatface;
      margin-bottom: 42px;
    }

    p, ul {
      color: #bbb;
      font: 400 13px/21px 'open sans';
      margin: 0 50px 42px 0;
    }

    ul {
      margin: 12px 0 42px 12px;

      li {
        position: relative;

        &:before {
          content: "\00d7";
          font-size: 15px;
          font-weight: 700;
          left: -2px;
          position: relative;
          top: 2px;
        }

      }
    }
    a {
      color: #bbb;
      text-decoration: underline;
      font: 400 13px/21px 'open sans';
      &:hover {
        color: white;
      }
    }
  }
  &.light {
    display: block;
    float: left;
    background-color: white;
    padding: 80px 80px 80px 80px;

    .text {
      margin: 0 auto;
      padding: 0 20px;
    }

    h1 {
      color: black;
      font: 400 87px/84px Abril Fatface;
      margin-bottom: 42px;
    }

    p, ul {
      color: #222;
      font: 400 13px/21px 'open sans';
      margin: 0 50px 42px 0;
    }

    ul {
      margin: 12px 0 42px 12px;

      li {
        position: relative;

        &:before {
          content: "\00d7";
          font-size: 15px;
          font-weight: 700;
          left: -2px;
          position: relative;
          top: 2px;
        }

      }
    }
    a {
      color: #444;
      text-decoration: underline;
      font: 400 13px/21px 'open sans';
      &:hover {
        color: black;
      }
    }

  }
}

blockquote * {
  font-style: italic !important;
}


/**
 * CSS Buttons Generator for your pleasure!
 * http://www.dextronet.com/css-buttons-generator
 * 
 * (c) Ondrej Zabojnik <zabojnik@dextronet.com>, released under the MIT license
 * 
 * Usage: 
 *   <a href="" class="shiny-button"><strong>AIWS support group</strong></a>
 * 
 */

.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  line-height: 1.1;
  font: 400 20px/1 'open sans';
  font-weight: bold;
  color: #FFFFFF !important;
  background-color: #41A86E;
  background-image: -webkit-linear-gradient(top, #42ac70 0%, #6ca585 48%, #41A86E 49%, #41A86E 82%, #4bba7c 100%);
  background-image: -moz-linear-gradient(top, #42ac70 0%, #6ca585 48%, #41A86E 49%, #41A86E 82%, #4bba7c 100%);
  background-image: -o-linear-gradient(top, #42ac70 0%, #6ca585 48%, #41A86E 49%, #41A86E 82%, #4bba7c 100%);
  background-image: linear-gradient(top, #42ac70 0%, #6ca585 48%, #41A86E 49%, #41A86E 82%, #4bba7c 100%);
  border-color: hsl(0, 0%, 46%);
  -webkit-box-shadow: inset 0 0 1px 1px #5cc088, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #5cc088, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #5cc088, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #255e3e;
  -moz-text-shadow: 1px 1px 1px #255e3e;
  -o-text-shadow: 1px 1px 1px #255e3e;
  text-shadow: 1px 1px 1px #255e3e;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  padding: 7.199999999999999px 18px 7.199999999999999px 18px;
}

.shiny-button strong {
  letter-spacing: 1px;
  font-size: 22px;
}

.shiny-button:hover {
  color: #FFFFFF;
  background-color: #45b375;
  background-image: -webkit-linear-gradient(top, #46b777 0%, #75ab8d 48%, #45b375 49%, #45b375 82%, #56be83 100%);
  background-image: -moz-linear-gradient(top, #46b777 0%, #75ab8d 48%, #45b375 49%, #45b375 82%, #56be83 100%);
  background-image: -o-linear-gradient(top, #46b777 0%, #75ab8d 48%, #45b375 49%, #45b375 82%, #56be83 100%);
  background-image: linear-gradient(top, #46b777 0%, #75ab8d 48%, #45b375 49%, #45b375 82%, #56be83 100%);
  border-color: hsl(0, 0%, 49%);
  -webkit-box-shadow: inset 0 0 1px 1px #6ac692, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #6ac692, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #6ac692, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #296945;
  -moz-text-shadow: 1px 1px 1px #296945;
  -o-text-shadow: 1px 1px 1px #296945;
  text-shadow: 1px 1px 1px #296945;
}

.shiny-button:active {
  color: #FFFFFF;
  background-color: #3d9d67;
  background-image: -webkit-linear-gradient(top, #3a9662 0%, #41A86E 100%);
  background-image: -moz-linear-gradient(top, #3a9662 0%, #41A86E 100%);
  background-image: -o-linear-gradient(top, #3a9662 0%, #41A86E 100%);
  background-image: linear-gradient(top, #3a9662 0%, #41A86E 100%);
  padding: 8.2px 18px 6.199999999999999px 18px;
}
