/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  background: white;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }

blockquote {
  /*
    &:before {
      content: "\201c";
    }
    &:after{
      content: "\201d";
    }
  */ }

.column {
  display: block;
  float: left;
  max-width: 400px;
  margin-bottom: 24px;
  margin-right: 24px; }

footer {
  padding: 50px;
  text-align: center; }
  footer p {
    color: #555;
    font: 400 16px/1 'open sans';
    margin: 0 0 2em 0; }
    footer p a {
      color: #555;
      font-weight: 700; }
      footer p a:hover {
        color: #000; }

.page {
  width: 100%; }
  .page.dark {
    display: block;
    float: left;
    background-color: #333;
    padding: 80px 80px 20px 80px; }
    .page.dark .text {
      margin: 0 auto;
      padding: 0 20px; }
    .page.dark h1 {
      color: white;
      font: 400 87px/84px Abril Fatface;
      margin-bottom: 42px; }
    .page.dark p, .page.dark ul {
      color: #bbb;
      font: 400 13px/21px 'open sans';
      margin: 0 50px 0 0; }
    .page.dark ul {
      margin: 12px 0 0 12px; }
      .page.dark ul li {
        position: relative; }
        .page.dark ul li:before {
          content: "\00d7";
          font-size: 15px;
          font-weight: 700;
          left: -2px;
          position: relative;
          top: 2px; }
    .page.dark a {
      color: #bbb;
      text-decoration: underline;
      font: 400 13px/21px 'open sans'; }
      .page.dark a:hover {
        color: white; }
  .page.light {
    display: block;
    float: left;
    background-color: white;
    padding: 80px 80px 80px 80px; }
    .page.light .text {
      margin: 0 auto;
      padding: 0 20px; }
    .page.light h1 {
      color: black;
      font: 400 87px/84px Abril Fatface;
      margin-bottom: 42px; }
    .page.light p, .page.light ul {
      color: #222;
      font: 400 13px/21px 'open sans';
      margin: 0 50px 0 0; }
    .page.light ul {
      margin: 12px 0 0 12px; }
      .page.light ul li {
        position: relative; }
        .page.light ul li:before {
          content: "\00d7";
          font-size: 15px;
          font-weight: 700;
          left: -2px;
          position: relative;
          top: 2px; }
    .page.light a {
      color: #444;
      text-decoration: underline;
      font: 400 13px/21px 'open sans'; }
      .page.light a:hover {
        color: black; }

blockquote * {
  font-style: italic !important; }

/*# sourceMappingURL=application.css.map */
